// Place all the styles related to the api/hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../variables.scss";


.hike-item {
    display: flex;
    height: 224px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 16px;
    margin-bottom: 24px;
}


.hike-index-container {
    margin-top: 15px;
    margin-bottom: 30px
}

.hike-item-pics {
    height: 192px;
    min-width: 288px;
    width: 288px;
    border-radius: 8px;
    margin-right: 24px;
}

.hike-index {
    padding-top: 20px;
    padding-bottom: 20px;

    img {
        max-width: 200px;
    }
}


.hike-item-content {
    overflow: hidden;
    text-overflow: ellipsis;


     p {
        font-family: $bodyFont;
        line-height: 1.44;
        color: $mediumGrey;
        font-weight: 375;
        font-size: 14px;
        margin: 5px 0;
        // overflow: hidden;
        // text-overflow: ellipsis;
     }

     .hike-description {
         margin-top: 24px;
         font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
     }

     .hike-difficulty {
        padding: 4px 20px;
        text-align: center;
        // padding-bottom: 6px;
        color: white;
        border-radius: 8px;
        font-family: inherit;

        // margin-bottom: 4px;
        font-size: 11px;
    }

    .difficulty-rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        span {
            margin-right: 5px;
        }
    }

    .moderate {
        background-color: $buttonBlue;
    }

    .hard {
        background-color: $tagGrey;
    }

    .easy {
        background-color: $buttonGreen;
    }
}

.park-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 14px;

    p {
        padding-left: 5px;
        text-align: end;
    }

    span {
        margin-right: 5px;
    }
}