// Place all the styles related to the api/searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import '../variables.scss';


.search-bar {
    width: 70%;
    margin: 40px auto;
    font-size:  24px;
    margin-bottom: 0;
    z-index: 1;
}

.search-input {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, .45);
    display: flex;
    justify-content: left;
    background-color: white;
    background-clip: padding-box;
    border-radius: 6px;

    input {
        width: 100%;
        color: $darkGrey;
        text-align: left;
    }   

    button {
        background-color: $buttonGreen;
        padding: 20px 30px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
    }

    button:hover {
        background-color: $buttonHoverGreen;
    }

    svg {
        color: $grey;
        padding: 20px;
        cursor: text;
    }
}

.search-results {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin-top: -30px;
    margin: -1px auto;
    padding-top: 10px;
    padding-bottom: 0;
    z-index: -2;
    background-color: #ffff;
    border-style: solid;
    width: 70%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: $contentBorder;


    li {
        display: flex;
        align-items: center;
        justify-content: left;
        color: $darkGrey;
        align-items: center;
        padding: 3.5px 7px 3.5px 7px;
        font-size: 16px;

    }

    li:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        div {
            color: white;
            width: 33px;
            padding: 8px;
            border-radius: 4px;
            margin-right: 8px;

        }

    }

    li:hover {
        background-color: $buttonGreen;
        color: white;
        

        .result-hike-icon {
            background-color: white;
            color: $buttonGreen;
        }

        .result-park-icon {
            background-color: white;
            color: $orange;
        }
    }

    .result-park-icon {
        background-color: $orange;
        color: white
    }

    .result-hike-icon {
        background-color: $buttonGreen;
        color: white;
    }



}

