@import './variables.scss';


.footer-content {
    background-color: $backgroundGrey;
    position: relative;
    display: flex;
    height: 200px;
    margin-top: 40px;
}


.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $headerFont;
    color: $grey;
    font-size: 40px;
    font-weight: 500;

    a {
        flex-direction: row;
        display: flex;
        align-items: baseline;
    }
}

.footer-mountain-logo {
    color: $logoGreen;
    margin: 8px;
    font-size: 32px;
}
