@import './variables.scss';


.footer-content {
    background-color: $backgroundGrey;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3vh;
    width: 100vw;
    // z-index: -99;
}

footer {
    display: flex;
    align-items: center;
    background-color: $backgroundGrey;
    height: 200px;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $headerFont;
    color: $grey;
    font-size: 40px;
    font-weight: 500;

    a {
        flex-direction: row;
        display: flex;
        align-items: baseline;
    }
}

.links a {
    padding: 15px;
    padding-bottom: 0;
}

.footer-mountain-logo {
    color: $logoGreen;
    margin: 8px;
    font-size: 32px;
}
