@import './variables.scss';


.title-box {
    position: relative;
    width: 1024px;
    margin: auto;

    .hike-title-content {
        position: absolute;
        color: white;
        top: 150px;
        left: 24px;
        margin: auto;


        .hike-difficulty {
            padding: 4px 12px;
            color: white;
            border-radius: 8px;
            font-family: $bodyFont;
            font-size: 11px;
        }

        .moderate {
            background-color: $buttonBlue;
        }

        .hard {
            background-color: $tagGrey;
        }

        .easy {
            background-color: $buttonGreen;
        }

        h1 {
            color: white;
        }

        p {
            font-family: $bodyFont;
            font-weight: 300;
            font-size: 14px;
            padding: 8px 0;
            margin-top: 4px;
        }

        .difficulty-rating{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            p {
                padding-left: 7px;
                font-size: 12px;
                line-height: .75;
            }
        }

        .react-stars > * {
            margin-left: 7px;

        }
    }

    
}


.title-photo-box {
    width: 1024px;
    height: 312px;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
        width: 1024px;

    }
}

.hike-page-background {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    z-index: -99;
}

.hike-actions-wrap{
    background: #428a13;
    height: 55px;
    width: 1024px;
    margin: auto;
    margin-bottom: 0;
    border-top: none;
    display: flex;
    justify-content: space-around;

    .hike-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $buttonGreen;

        p {
            color: white;
            margin-top: 8px;
            font-family: $bodyFont;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            background: inherit;
            border: none;
            outline: none;
            margin-top: -22px;
        }

        svg {
            font-size: 16px;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
            background-color: white;
        }
    }   


}

.hike-info{
    position: relative;
    width: 1024px;
    border: 1px solid #d6d6d6;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 66.6666667% 33.33333334%;
}

.hike-right {
    background-color:white;
    display: grid;
    grid-template-rows: 25%;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    padding: 3px 0;

    .hike-map{
        width: inherit;
         padding-left: 5px;

        .hike-map-container {
            width: 330px;
            height: 280px;
            border-radius: 8px;
            padding: 4px;
            display: flex;
            cursor: pointer;
        }

    }
}

.hike-left {
    background-color: white;
    border-right: $contentBorder;

}

.hike-left-1 {
    background-color: white;
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    padding: 20px 0;
    border-bottom: $contentBorder;
    margin: 0 24px;

}

.hike-left-2 {
    background-color: white;
    margin: 0 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    padding-bottom: 10px;

    .hike-stat {
        padding-bottom: 6px;
        flex: 1;

        p {
            font-family: $bodyFont;
            line-height: 1.44;
            color: $mediumGrey;
            font-weight: 375;
            font-size: 12px;
        }

        span {
            font-family: $headerFont;
            color: $darkGrey;
            font-weight: 600;
            font-size: 15px;
            line-height: 1.38;
        }
        
    }
}

.hike-left-3 {
    background-color: white;
    // height: 15%;
    font-family: $bodyFont;
    font-size: 18px;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    padding: 20px 0;
    margin: 0 24px;
    


    p {
        font-size: 16px;
    }
}

.hike-tab {
        font-family: $headerFont;
        color: $darkGrey;
        font-weight: 600;
        font-size: 15px;
        line-height: 1.38;
        padding: 20px;
        background-color: #F2F2F2;
}


.nearby-hikes-wrapper {
    width: 100%;
    grid-row: 2;
    margin-top: 20px;

    .nearby-trails{
        margin-left: 25px;
        margin-bottom: 25px;
        font-family: $headerFont;
        color: $darkGrey;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
    }

    .nearby-hike-index {
        margin: auto; 
        margin-left: 25px;

        .nearby-hike-item {
            display: flex;
            flex-direction: column;
            width: 291px;
            height: 236px;
            border-radius: 8px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
            background-color: #fff;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            margin-bottom: 24px;

            img {
                margin-top: -60px;
                // height: 128px;
                width: 291px;
                border-radius: 0;
            }
        }

        .nearby-hike-index {
            padding-top: 20px;
            padding-bottom: 20px;

   
        }
    }


}

.nearby-hike-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
    padding-top: 4px;

    
    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

     p {
        font-family: $bodyFont;
        line-height: 1;
        color: $mediumGrey;
        font-weight: 375;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
     }

     .hike-description {
         margin-top: 24px;
         font-size: 16px;
     }

     .hike-difficulty {
        padding: 4px 12px;
        margin-right: 5px;
        color: white;
        border-radius: 8px;
        font-family: inherit;
        font-size: 11px;
        margin-bottom: 10px;
    }

    // .num-reviews {
    //     margin-left: 5px;
    // }

    .moderate {
        background-color: $buttonBlue;
    }

    .hard {
        background-color: $tagGrey;
    }

    .easy {
        background-color: $buttonGreen;
    }

    .difficulty-rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            margin-right: 5px;
        }
        
    }
}


.review-text {
    padding-top: 10px;
}
.review-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;

    span {
        margin-right: 5px;
    }
}


.review-item {
    border-bottom: $contentBorder;
    padding: 20px 0;
    margin: 0 24px;
    font-family: $bodyFont;
    font-size: 16px;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;

    p {
        font-family: $bodyFont;
    }
}

.review-pic-name {
    display: flex;
    flex-direction: row;
}

.write-review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    width: 188px;
    height: 40px;
    border-radius: 8px;
    margin: 35px auto;
    background-color: $buttonGreen;
    border: 2px solid $buttonGreen;
    color: white;
    font-family: $headerFont;
}

.write-review-button:hover{
    background-color: $buttonHoverGreen;
    border: 2px solid $buttonHoverGreen;
    cursor: pointer;
}

.hike-left-4{
    overflow-y: auto;
    height: 800px;
}