@import './variables.scss';


.park-map-container {
    height: 193px;
    max-width: 763px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
}



// .marker {
//     background-size: cover;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     cursor: pointer;
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
// }


.marker {
  content: url('clipart2953301.png');
  background-size: cover;
  width: 30px;
  cursor: pointer;
  color: $buttonGreen
}