// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables.scss";


.park-content-wrap {
    padding: 0 15px;
    max-width: 1024px;
    margin: auto;
}

.header-text-park-info {
    font-family: $headerFont;
    font-size: 19px;
    color: $darkGrey;
    font-weight: 600;
    padding-bottom: 8px;
    margin: 0 0 16px;
}

.park-description p {
    font-family: $bodyFont;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    max-width: 763px;
}

.park-info-details p {
    font-family: $bodyFont;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    font-size: 16px;
}

.about {
    font-size: 17px;
    padding-bottom: 24px;

}

.description {
    font-size: 16px;
    padding-bottom: 24px;

}

///park cards

.park-info {
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.park-info-details {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

}

.park-info-details article {
    display: block;
    flex-basis: 50%;

}

.park-actions {
    display: flex;
    padding: 24px 0;
    max-width: 763px;
    position: relative;
}

.park-action {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    color: $buttonGreen;

    p {
        color: $buttonGreen;
        margin-top: 10px;
        padding-left: 15px;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background: inherit;
        border: none;
        outline: none;
    }

    svg {
        font-size: 1.5rem;
        padding: 18px;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
        transform: scale(1);
        transition: transform 0.4s;
    }
}

.park-action:hover {
    
    svg {
        transform: scale(1.12);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.44), 0 0 8px 0 rgba(0,0,0,.08);
    }

    p {
        color: $buttonHoverGreen;
    }
}

//photo carousel

.carousel-wrap {
    margin-bottom: 25px;
    position: relative;
    height: 220px;
    width: 919px;
}

.photo-carousel {
    display: flex;
    overflow-x: scroll;
}

.carousel-item {
    margin-right: 20px;
    position: relative;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 8px;
    height: 220px;
    max-width: 350px;

}

.photo-nav-button {
    position: absolute;
    top: 40%;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), 0 0 8px 0 rgba(0,0,0,.08);
    background-position: 50%;
    color: $lighterGrey;
    font-weight: 300;
    z-index: 99;
}

 .right {
    right: -25px;
}

.left {
    left: -25px;
}