// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables.scss";


.park-content-wrap {
    padding: 0 15px;
    max-width: 1024px;
    margin: auto;
}

.header-text-park-info {
    font-family: $headerFont;
    font-size: 19px;
    color: $darkGrey;
    font-weight: 600;
    padding-bottom: 8px;
    margin: 0 0 16px;
}

.park-description p {
    font-family: $bodyFont;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    max-width: 763px;
}

.park-info-details p {
    font-family: $bodyFont;
    line-height: 1.44;
    color: $mediumGrey;
    font-weight: 375;
    font-size: 16px;
}

.about {
    font-size: 17px;
    padding-bottom: 24px;

}

.description {
    font-size: 16px;
    padding-bottom: 24px;

}

.park-info {
    border-top: $contentBorder;
    border-bottom: $contentBorder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.park-info-details {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

}

.park-info-details article {
    display: block;
    // width: 50%;
    flex-basis: 50%;

}