// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './variables.scss';


.session-background {
    background-image: image_url('IMG_1635.jpeg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 700px;
    color: white;
}

.session-form {
    width: 480px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    font-family: $headerFont;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    background-color: white;
}

.session-form h1 {
    font-size: 24px;
    color: $darkGrey;
    font-weight: 600;
    margin-top: 30px;
}

.session-form p {
    font-size: 13px;
    color: $grey;
    margin-bottom: 30px;
}

.session-form form {
    width: 85%;
}



.session-form .primary-button {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: $buttonGreen;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.session-form input {
    color: $darkGrey;
    font-size: 14px;
    
}



.session-form label {
    margin: 25px 0;
    padding: 15px;
    height: 50px;
}

//////

// .floater {
//     color: red;
// }

// .input-container {
//     border: $inputBorder;
//     border-radius: 8px;
//     cursor: text;
//     width: 100%;
// }



///////
.session-form input::placeholder {
    color: $borderGrey;
    font-size: 14px;
}



.primary-button:hover {
    background-color: $buttonHoverGreen;
}

.inline-link {
    color: $buttonGreen;
    font-weight: 600;
}

.inline-link:hover {
    color: $buttonHoverGreen;
}


textarea {
    border: $inputBorder;
}

.form-errors {
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}

.text-input {
    border: $inputBorder;
    border-radius: 8px;
    cursor: text;
    width: 100%;
}

.text-input:hover {
    border: 1px solid $green;
}

.text-input:focus-within {
    border: 2px solid $green;
}


